{% extends 'kidJoy/base.html' %} {% load static %} {% block title %} Contact |
KiddyJoy {% endblock%} {% block navbar %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{% url 'donate' %}">Donate</a></li>
  <li><a href="{% url 'team' %}">Team</a></li>
  <li class="dropdown">
    <a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a href="{% url 'all-projects' %}">All Projects</a></li>
      <li><a href="{% url 'upcoming-projects' %}">Upcoming Projects</a></li>
      <li><a href="{% url 'ongoing-projects' %}">Ongoing Projects</a></li>
      <li><a href="{% url 'past-projects' %}">Past Projects</a></li>
    </ul>
  </li>
  <li><a class="active" href="{% url 'contact' %}">Contact Us</a></li>
  <li><a href="{% url 'join-team' %}">Join Our Team</a></li>
</ul>
{% endblock %} {% block page %}
<!-- ======= Contact Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Let's Get Interactive</h2>
      <ol>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Contact</li>
      </ol>
    </div>
  </div>
</section>
<!-- End About Us Section -->
{% endblock %} {% block content%}
<!-- ======= Contact Section ======= -->
<section
  class="contact"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com<br />contact@example.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+233 546 567 829<br />+1 6678 254445 41</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="6"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
{% endblock %}
