{% extends 'kidJoy/base.html' %} 
{% load static %}
{% block title %} Join Us | KiddyJoy {% endblock%}
{% block navbar %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{% url 'donate' %}">Donate</a></li>
  <li><a href="{% url 'team' %}">Team</a></li>
  <li class="dropdown">
    <a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a href="{% url 'all-projects' %}">All Projects</a></li>
      <li><a href="{% url 'upcoming-projects' %}">Upcoming Projects</a></li>
      <li><a href="{% url 'ongoing-projects' %}">Ongoing Projects</a></li>
      <li><a href="{% url 'past-projects' %}">Past Projects</a></li>
    </ul>
  </li>
  <li><a href="{% url 'contact' %}">Contact Us</a></li>
  <li><a class="active" href="{% url 'join-team' %}">Join Our Team</a></li>
</ul>
{% endblock %}
    {% block page %}
    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Be A Volunteer</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Join Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->
    {% endblock %}
    {% block content%}
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6">
                <form action="" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="phone-number" id="phone-number" placeholder="Phone Number with country code" required>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="reason" rows="5" placeholder="Tell us why you want to join..."></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Submit</button></div>
                </form>
            </div>
        </div>
        </div>
    </section>
    {% endblock %}